<!DOCTYPE html>
<html lang="ru" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../../css/common.css">
    <link rel="stylesheet" href="../../css/profile/profile.css">
    <title>Смена пароля</title>
  </head>
  <body>
    <header class="header fixed" id="header">
      <div class="container container-header header-content">
        <div class="header-content-left">
          <div class="header-support">
            <div class="header-support-text">24/7, без выходных</div>
            <a class="header-support-phone" href="tel:88005510121">8 800 551-01-21</a>
          </div>
        </div>
        <ul class="header-content-menu">
          <li class="header-content-menu-item"><a class="header-content-menu-item-link" href="/#tariffs">Тарифы</a></li>
          <li class="header-content-menu-item"><a class="header-content-menu-item-link" href="/help/">Помощь</a></li>
          <li class="header-content-menu-item"><a class="header-content-menu-item-link" href="/documents/">Документы</a></li>
          <li class="header-content-menu-item"><a class="header-content-menu-item-link" href="/city">Города</a></li>
          <li class="header-content-menu-item"><a class="header-content-menu-item-link" href="/loyalty">Программа лояльности</a></li>
        </ul>
        <a class ="logo" id="login" href="../../profile/edit">{{name}}</a>
        <div class="mobile-menu">
          <svg class="burger" width="25" height="18" viewBox="0 0 25 18" fill="none" xmlns="http://www.w3.org/2000/svg">
            <rect width="25" height="2" rx="1" fill="white"></rect>
            <rect y="8" width="25" height="2" rx="1" fill="white"></rect>
            <rect y="16" width="25" height="2" rx="1" fill="white"></rect>
          </svg>
          <svg class="close" width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
            <use xlink:href="#close"></use>
          </svg>
        </div>
      </div>
    </header>
    <div class="profile-header-indent">
    </div>
    <section class = "frame">
      <div class="userinfo container">
        <form class="questions-form" id="main-form" method="POST">
            <h2 style="display:flex; justify-content:center;">Сменить пароль</h2>
	    {{if success}}
	    	<h3>Пароль изменён.</h3>
	    {{end}}
          <div>
            <div>
              <label for="password-field">Пароль</label>
              <div class="questions-form-field" id="password-field">
                <input class="questions-form-input form-input" id = "password" type="password" name="password" placeholder="Придумайте пароль" required minlength="5">
		{{for error in errors}}
			<p class="questions-form-error" style="display:block;">{{error}}</p>
		{{end}}
              </div>
            </div>
	    <div>
              <label for="repeat-password-field">Повтор пароля</label>
              <div class="questions-form-field" id="repeat-password-field">
                <input class="questions-form-input form-input" id = "repeat-password" type="password" placeholder="Повторите пароль" required minlength="5">
              </div>
            </div>
          </div>
            <div class="form-section-footer">
              <div class="button-submit">

                <button class="button button-link js-btn-main gtm_fam_click_first" type="submit">Сохранить</button>
              </div>
            </div>
        </form>
      </div>
    </section>
  </body>
</html>
