.tariff .main {
    height: 100vh;
    background-size: cover;
    position: relative;
    background-repeat: no-repeat;
    background-position: center center;
}

.tariff .main .container {
    position: relative;
    height: 100%;
}

.tariff .everyday-screen {
  background-image: url(../../images/tariff/bg-everyday.jpg);
}

.tariff .tittle {
    font-size: 160px;
    line-height: 158px;
    letter-spacing: .01em;
    color: #fff;
    font-weight: 500;
    margin-bottom: 8px;
}

.tariff .subtittle {
    font-size: 30px;
    line-height: 33px;
    margin-bottom: 50px;
    color: #fff;
}

.tariff .main-info {
    position: relative;
}

.tariff .cars-head {
    margin-bottom: 60px;
}

.tariff .cars-tittle {
    color: #191818;
    max-width: 500px;
    font-size: 50px;
    line-height: 1;
    margin-bottom: 24px;
    font-weight: 500;
}

.tariff .cars-desc {
    max-width: 536px;
    font-size: 22px;
    line-height: 32px;
    color: #191818;
}

.tariff .cars {
    background-color: #f4fcfd;
    padding-top: 74px;
    padding-bottom: 112px;
}

.tariff .cars-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.cars-outer {
    width: 100%;
}

.cars-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
  margin-bottom: 112px;
}

.car-card {
  padding: 8px 8px 0 8px;
}

.cars-list-item:not(:last-child) {
    margin-bottom: 16px;
}


.cars-item-pic {
    width: 506px;
    margin: 0 auto 23px;
}

.cars-item-info {
  display: flex;
  margin-bottom: 38px;
}

.card-button-container {
  margin-left: auto;
  margin-bottom: 20px;
  bottom: 0;
  position: absolute;
}

.advantages-cards {
  grid-template-columns: 1fr 1fr;
  display: grid;
  justify-content: space-between;
  align-items: flex-start;
}

.advantages-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px auto;
}

.tariff .advantages-card-top {
    width: 240px;
    height: 240px;
    background-color: #ddf5f8;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 48px;
}

.advantages-card-bottom {
    max-width: 235px;
    margin: 0 auto;
    text-align: center;
}

.advantages-card-title {
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 8px;
    text-transform: uppercase;
    color: #191818;
}

.tariff .advantages-card-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: rgba(25,24,24,.4);
}

.tariff .advantages-card-top img {
    max-width: 52%;
    max-height: 52%;
}

.df-popup {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(30,80,146,.2);
    z-index: 1000;
    overflow: auto;
    display: none;
transition-duration: 2s;
}

.df-popup-container {
display: flex;
justify-content: center;
min-height: 100vh;
align-items: center; 
scale: 0.7;
z-index: 1002;}

.df-popup-content {
display: flex;
    position: relative;
    width: 100%;
    max-width: 1392px;
    background-color: #fff;
    border-radius: 6px;
    padding: 0;
}

.df-popup-close {
position: absolute;
    display: block;
    padding: 10px;
    top: 22px;
    right: 22px;
    z-index: 10;
}

.p-price-left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 50%;
    padding: 60px 100px;
    padding-top: 67px;
}

.p-price-name {
    font-size: 65px;
    line-height: 1;
    font-weight: 500;
    margin-bottom: 4px;
    text-transform: uppercase;
}

.p-price-content {
    display: flex;
    align-items: center;
    width: 100%;
    margin-top: 54px;
    margin-bottom: 50px;
}

.p-price-img {
    width: 100%;
}

.p-price-img img {
    display: block;
    max-width: 90%;
    height: auto;
    margin: 0 auto;
}

.limit {
    color: #191818;
    margin-bottom: 60px;
}

.limit-title {
    font-size: 16px;
    line-height: 20px;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.limit-value {
    font-size: 30px;
    line-height: 36px;
    font-weight: 500;
    white-space: nowrap;
    margin-bottom: 5px;
}

.limit-note {
    font-size: 16px;
    line-height: 18px;
    font-weight: 500;
}

.p-price-right {
    width: 50%;
    background-color: #f4fcfd;
    padding: 70px 100px 60px 109px;
}

.start-end {
font-size: 25px;
    line-height: 30px;
    font-weight: 500;
    white-space: nowrap;
    margin-top: 20px;
}

.df-active{
display: block;}
